h1 {
  text-align: center;
  color: black;
  font-size: 85px;
  font-weight: 700;
  margin-bottom: 60px;
  margin-top: 25px;
  font: 700 85px BebasNeue;
  letter-spacing: 2px;
  margin: auto;
  width: 98%;
  font-family: "Indie Flower", cursive;
}

.Trade,
.Donate {
  color: black;
  font-size: 35px;
  font-family: "Indie Flower", cursive;
}

.Trade {
  margin-left: 45%;
  margin-right: 25px;
}

h2 {
  text-align: center;
  color: white;
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 25px;
  font-family: "Indie Flower", cursive;
}

.Home {
  margin-left: 550px;
  color: black;
  font-size: 25px;
}

.btn-success {
  color: black;
}

.shoecontainer {
  margin-left: 100px;
}

.trade-form {
  text-align: center;
  font-size: 50px;
}
